:root{
	--corbackprincipal:#FEFEFE;
	--corbackbeneficios:#888888;
	--corimgbeneficios:#000000;
}

.titulo-principal{
	text-align:center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal{
	width: 940px;
	padding: 3em 0;
	margin: 0 auto;
	background: var(--corbackprincipal);
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

.mapa{
	padding: 3em 0;
	background: linear-gradient(var(--corbackprincipal), var(--corbackbeneficios));
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.video{
	width: 560px;
	margin: 2em auto;
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;
}

.itens{
	line-height: 1.5;
}

.itens:first-child{
	font-weight: bold;	
}

.itens:before{
	content:"🧔🏻";
}


.beneficios{
	padding: 3em 0;
	background: var(--corbackbeneficios);
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top; 
}

.conteudo-beneficios{
	width: 740px;
	margin: 0 auto;
}

.banner{
	width: 100%;
}

.imagem-beneficios{
	width: 50%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 var(--corimgbeneficios);
}

.imagem-beneficios:hover{
	opacity: 0.3;
}

.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}